<html>
<head>
  <meta charset="utf-8">
  <title>kotlin-runcode Demo</title>
</head>
<body>
<pre>
<code class="a">fun sum(a: Int, b: Int): Int {
  return a + b
}

fun printSum(a: Int, b: Int): Unit {
  println("sum of $a and $b is ${a + b}")
}

fun main(args: Array&lt;String&gt;) {
  printSum(-1, 8)
}
    </code>
</pre>

<script>
KotlinExecutableCode('code')
</script>

</body>
</html>
